.contact {
  max-width: 68.75rem;
  margin: 0 auto;
  border-radius: 0.9375rem;
  background-color: #fff;
  box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.form {
  display: flex;
  width: 85%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5625rem 0;

  & input {
    padding-left: 2.5rem;
  }

  & > div > svg {
    position: absolute;
    top: 0.625rem;
    left: 0.75rem;
    font-size: 1.0625rem;
    color: rgb(51, 51, 51);
    pointer-events: none;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 0.8125rem 1.5625rem;
  border: none;
  border-radius: 0.3125rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #2506ad;
  box-shadow: 0 0.3125rem 0.625rem rgba(48, 68, 247, 0.6);
  user-select: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #4629caf5;

    & > svg {
      transform: translateX(0.625rem);
    }
  }

  &:disabled {
    background-color: #4629caf5;
  }

  & > svg,
  & > div {
    margin-left: 0.625rem;
    transition: all 0.3s ease-in-out;
  }
}
